
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/*allgemeines css*/
body{
    font-family: tahoma,verdana,helvetica,sans-serif;
    font-size: 17px;
    padding:0;margin:0;
    background: #ffffff;
}
a,a:active{
    color: black;
}
a:hover{
    color: #00adef;
    text-decoration: none;
}
#content {
    margin: 1em;
    clear: both;
}
h1,h2{
    margin: 1em 0 0.5em;
}
h1{font-size:130%;}
h2{font-size:110%;}
h3{font-size:100%;}
h4{font-size:90%;}
.errors {
    color: red;
}
#header {margin:0;padding:0;}
#header img {width: 150px; margin:0;padding:19px 0 0 19px;}
#header #slogan {display: inline-block;font-size: 19px; position: relative; top: -37px; left: 100px;}
th {text-align:left;}

#menu{padding-top:17px;padding-bottom:27px;position:relative;}
#menu a {text-decoration: none;margin: 1px 0;padding:4px 15px;line-height:20px;font-size:14px;display:block;border-right:1px solid #d7e8ef; text-transform: lowercase; }
#menu a:hover, #menu a.active {text-decoration: none;color:#000000;margin: 0;padding:5px 15px; color: #00adef;}
#menu ul {list-style-type: none;height:30px;margin:0 10px;padding:0;border-style:solid;border-color:#00adef;border-width:1px 0px 1px 0px;}
#menu ul li {float:left;}
#menu ul li.clear {float:none;clear:both;height:1px;line-height:1px;font-size:1px;}

#footer {border-top:1px solid #00adef;padding:1em;margin:0 10px;}

.important {color: #00adef;}

#content h1 {margin-top:0;}
#content .main {width:500px;float:left;}
#content hr {border-style:solid;border-color:#00adef;border-width:1px 0px 0px 0px;margin:20px 0px;}
#content .sidebar{width:325px;margin-left:540px;}
#content .sidebar .teaser {padding:5px;border:1px solid #d7e8ef;margin-bottom:10px;}
#content .sidebar .teaser a {text-decoration: none; color: #00adef;}
#content .sidebar .teaser a:hover {text-decoration: underline;}
#content .sidebar .teaser h3:first-child{margin-top:0;}
#content .sidebar .teaser .thankyou{font-size: smaller;}
#content .sidebar img {display: block; margin: 0 0 10px 0; padding:0; border: none;}
#content .clear{clear:both;}
#content .start-button{
	 display:block;
	 margin:10px auto;
	 background:#e8a33c;
	 border:1px outset #cbcbcb;
	 font-weight:bold;
	 font-size:14px;
	 text-align:center;
	 line-height:20px;
	 padding:5px 10px; 
	 border-radius:5px;
	 width:200px;
}
#content .start-button:hover{
	border:1px outset #646464;
	color:#000000;
}

#content dl.zend_form dt{padding-top:7px;padding-bottom:2px;}
#content .important-notices li {padding-bottom:3px;}
#content table.usage-info {width:950px;margin-top:10px;}
#content .usage-info td {border-right:#efefef 1px solid;vertical-align: top;}
#content div.usage-info{width:600px;margin-bottom:30px;}
#content div.usage-info h3{font-size:12px;font-weight:bold;margin:0;padding:0;}

#locale-label {display: none;}
#locale-element{margin: 0;padding: 2px 15px;}
/* orange #e8a33c grau #cbcbcb */

/* translate5 download page*/
form#acceptLicense .description { float:right;position:relative;left:-52px;margin-top:0;}
form#acceptLicense dd {margin: 0;}
form#acceptLicense ul.errors {list-style-type: none;padding:0; margin:0 0 -10px 36px;position:relative;top:-18px;}