<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/**#@+
 * @author Marc Mittag
 * @package trantlate5
 * @version 0.7
 *
 */
?>
<div class="main">
<h1>Information for developers</h1>
    <p><a href="http://confluence.translate5.net/" target="_blank">translate5 Confluence</a> is where translate5 developers and users collaborate and share knowledge. </p>
    <p>In <a href="http://confluence.translate5.net/" target="_blank">translate5 Confluence</a> you'll find a lot of information about translate5 related to developing.</p>
    <p>translate5 source code is <a href="#source">published at bitbucket</a>.</p>
    <h2>translate5 Confluence spaces for developers</h2>
    <ul><li><a href="http://confluence.translate5.net/display/TAD" target="_blank">Architecture documentation</a></li>
    <li><a href="http://confluence.translate5.net/display/CON" target="_blank">Configuration</a></li>
        <li><a href="http://confluence.translate5.net/display/TPLO" target="_blank">Plug-in overview</a></li>
    </ul>

    
    <h2>Contribute to the development</h2>
    <p>translate5 project welcomes your contributions to the development on the level you like:</p>
    <ul>
        <li>Report bugs</li>
        <li>Propose features</li>
        <li>Fix bugs</li>
        <li>Develop plug-ins</li>
        <li>Contribute to core development</li>
    </ul>
    <h4>translate5 JIRA - report bugs and propose features</h4>
    <p>To report a bug or propose a feature, you need to log into <a href="http://jira.translate5.net/" target="_blank">translate5 JIRA</a>.</p>
    <p>If you want to report a bug, please be sure you really encountered one. In case of any doubt, ask about it in <a href="https://groups.yahoo.com/neo/groups/translate5/info" target="_blank">translate5 Yahoo mailing list</a>.</p>
    <p>If you want to propose a feature, please be sure, your feature proposal is not already registered as a feature request in <a href="http://jira.translate5.net/" target="_blank">translate5 JIRA</a>. If it is already registered, please comment on the feature and/or vote for it.</p>
    <h4>Be part of the development</h4>
    <p>translate5 project is happy to have you as part of the development. Please write to <a href="mailto:support@translate5.net">support@translate5.net</a> and we will open an account in <a href="#source">translate5 code repository</a> for you.</p>
    <p><strong>The easiest way to contribute to translate5 development is to develop a translate5 plug-in, though.</strong> This can be done completely independent of translate5 core development. Plug-ins can be documented and uploaded to <a href="http://confluence.translate5.net/display/TPLO" target="_blank">translate5 plug-in directory</a>.</p>
    <p>How to develop a translate5 plug-in is documented in <a href="http://confluence.translate5.net/display/TAD" target="_blank">translate5 architecture documentation</a></p>
    <a name="source"></a><h4>translate5 source code</h4>
    <p>The current stable master branch of translate5 is <a href="https://bitbucket.org/mittagqi" target="_blank">published on bitbucket</a>.</p>
    <p>It is updated every night with the latest commits.</p>
    <p>For installation and update purposes, we recommend the <a href="http://confluence.translate5.net/display/TIU" target="_blank">translate5 install &amp; update routines</a>, though. They build on packages provided by translate5 development team on a regular basis.</p>
    
    <h2>Post questions in translate5 Yahoo mailing list</h2>
    <p><b>Before you ask a question at <a href="https://groups.yahoo.com/neo/groups/translate5/info" target="_blank">translate5 Yahoo mailing list</a>:</b></p>
    <p>Please check carefully:</p>
    <ul>
        <li>Is my question answered in <a href="http://confluence.translate5.net/" target="_blank">translate5 Confluence</a>?</li>
        <li>Has my question already been asked in the <a href="https://groups.yahoo.com/neo/groups/translate5/info" target="_blank">translate5 Yahoo mailing list</a>?</li>
    </ul>
</div>
<div class="clear">&nbsp;</div>
