<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/**#@+
 * @author Marc Mittag
 * @package trantlate5
 * @version 0.7
 *
 */
$session = new Zend_Session_Namespace();
?>
<div class="main">
<h1>Testimonials</h1>
<p>I started my project at the beginning of April and now I can say that the results have been really positive. I congratulate you for your work with the application, since its intuitive interface and usability along with the flexibility of MQM and the good description of its error issues let me learn a lot about error annotation. Also, I think that the possibility to edit the source text, add comments or mark the words that form the error is a value added. In my opinion, however, the best characteristic of translate5 is that the user may select the error issues which allows him/her to adapt the annotation to the needs of the project.
</p>
<p>(Julia Mercader Alarcón)</p>
<hr/>
<p>
    beo uses translate5 for proofreading and editing in its quality assurance processes for translations, 
    as well as for translator evaluation using the feedback and error assessment function. 
    Our clients use translate5 via our beoSphere portal in approval processes, 
    for evaluation and for adapting certain documents to their target markets.
</p>
<p>
This is all achieved at no extra cost, online and in an environment which is perfectly adjusted to the task. 
With translate5, we can turn arduous side tasks into a valuable service.
</p>

<p>
(Michael Schneider, beo Gesellschaft für Sprachen und Technologie mbH)</p>
</p>
<hr/>
<p>
    itl uses translate5
</p>
<p>
    itl has been using the editing portal translate5 for two years. 
    The main area of use is in client-side editing of our translations in the respective markets.
</p>
<p>
    This client editing is the last step of the process before publication and 
    often caused a disproportionately large workload before we introduced translate5. 
    The editors made comments on the translations in the PDF files in a very individual way. 
    In addition, the corrections then had to be manually transferred into the 
    respective translation memory through copy and paste, which was extremely time-consuming and sometimes led to translation errors.
</p>
<p>
    translate5 allows us to partially automate this process. Errors are virtually eliminated and the editors now have to comply much more closely with the clearly defined specifications. Together with our translation management system [i]-flow and the client portal [i]-gate, we can offer our clients a free and efficient solution for editing from which everyone can benefit.
</p>
<p>(Peter Kreitmeier, itl AG)</p>
<hr/>
<p>
    translate5 is a perfect match for our post-editing processes. 
    It is a well-adapted user interface, independent from other translation tools, 
    with enhanced tagging functionality to better retrain and optimize MT machinery after post-editing. 
    The terminology functions and the many ways of displaying content lead to maximum support for the post-editors. 
    An interface to translation memories is all that is missing to make translate5 the perfect post-editing client.
</p>
<p>(Maxim Khalilov, bmmt GmbH)</p>
</div>
<div class="clear">&nbsp;</div>
