<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

?>
<div class="main">
    <h1>translate5 usage &amp; documentation</h1>
    <p><a href="http://confluence.translate5.net/" target="_blank">translate5 Confluence</a> is where translate5 developers and users collaborate and share knowledge. </p>
    <p>In <a href="http://confluence.translate5.net/" target="_blank">translate5 Confluence</a> you'll find all information related to usage and documentation about translate5.</p>
    <h2>Most important translate5 Confluence spaces for usage</h2>
    <ul><li><a href="http://confluence.translate5.net/display/BUS" target="_blank">Installation and update</a></li>
    <li><a href="http://confluence.translate5.net/display/BUS" target="_blank">Basic usage</a></li>
        <li><a href="http://confluence.translate5.net/display/TFD" target="_blank">Feature documentation</a></li>
    </ul>
    <h2>Post questions in translate5 Yahoo mailing list</h2>
    <p><b>Before you ask a question at <a href="https://groups.yahoo.com/neo/groups/translate5/info" target="_blank">translate5 Yahoo mailing list</a>:</b></p>
    <p>Please check carefully:
    <ul>
        <li>Is my question answered in <a href="http://confluence.translate5.net/" target="_blank">translate5 Confluence</a>?</li>
        <li>Has my question already been asked in the <a href="https://groups.yahoo.com/neo/groups/translate5/info" target="_blank">translate5 Yahoo mailing list</a>?</li>
    </ul></p>
</div>
<div class="clear">&nbsp;</div>