<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/**#@+
 * @author Marc Mittag
 * @package portal
 * @version 2.0
 *
 */
/**
 * Generiert das allgemeine Layout
 *
 * - Achtung: Bei Hinzufügen weiterer Layoutelemente darauf achten, dass diese
 *   im Viewhelper View_Helper_DisableBodyLayout deaktiviert werden
 */
$config = Zend_Registry::get('config');
/* @var $config Zend_Config */
$menu  = $config->runtimeOptions->content->mainMenu;

echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php echo $this->headTitle() ?>
        <?php   echo $this->headMeta() ?>
        <?php   echo $this->headLink() ?>
        <?php echo $this->headStyle() ?>
        <link rel="shortcut icon" href="<?php echo APPLICATION_RUNDIR.$config->runtimeOptions->server->pathToIMAGES; ?>/favicon.ico" type="image/x-icon"/>
        <?php echo $this->headScript() ?>
    </head>
    <body>
        <div id="header">
            <img src="/images/translate5.png?v=1" alt="<?php echo 'translate5'; ?>">
            <div id="slogan">open source web-based <br>proofreading, postediting &amp; translation evaluation environment</div>
        </div>
        <div id="menu">
            
        <ul>
            <?php
            if(!is_null($menu)){
                foreach ($menu as $item) {
                    $item = (array)$item;
                    $item = each($item);
                    $class = ($item['key']===$_SERVER['REQUEST_URI'])?' class="active"':'';
                    echo '<li><a href="'.$item['key'].'"'.$class.'>'.$this->translate->_($item['value']).'</a></li>';
                }
            }
            ?>
            <li class="clear">&nbsp;</li>
        </ul>
        </div>
        <div id="content">
            <?php echo $this->layout()->content; ?>
        </div>
        <div id="footer">
            <?php
                /* @var $this Zend_View */
                if(!isset($this->impressum)){
                    ?><a href="/index/impressum">Imprint</a> | <?php
                }
            ?>
            <a href="https://groups.yahoo.com/neo/groups/translate5/info" target="_blank">Ask a question about translate5</a>
        </div>
     </body>
</html>
